.friends img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 100%;
}

.friends {
    color: white;
    font-size: x-small;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: row;
    font-family: "Microsoft Sans Serif";
}

.item {
    width: 56px;
    overflow: hidden;
    margin: 2px;
}