.postsBlock {
    padding: 10px;
}

.newPost {
    display: grid;
    grid-template-areas:
    "textArea addBtn .";
    grid-template-columns: 7fr 4fr 11fr;
}

.textArea {
    grid-area: textArea;
    width: 430px;
    height: 30px;
    border-radius: 5px;
    margin: 0 5px;
}

.addButton {
    grid-area: addBtn;
    margin: 1px;
    height: 30px;
    width: 80px;
}

.posts {
    display: block;
    margin-top: 10px;
}