.postsBlock {
    padding: 10px;
}

.textArea {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 0 5px;
}

.addButton {
    border-radius: 3px;
    display: block;
    background-color: slategray;
    color: white;
    border-style: hidden;
    padding-top: 5px;
    font-family: "Microsoft Sans Serif";
    font-size: smaller;
    margin: 0 5px;
}

.posts {
    margin-top: 10px;
}