.postsBlock {
    padding: 10px;
}

.newPost {
    display: grid;
    grid-template-areas:
    "textArea addBtn .";
    grid-template-columns: 7fr 4fr 11fr;
}

.textArea {
    grid-area: textArea;
    width: 430px;
    height: 30px;
    border-radius: 5px;
    margin: 0 5px;
}

.addButton {
    grid-area: addBtn;
    border-radius: 3px;
    background-color: slategray;
    color: white;
    border-style: hidden;
    font-family: "Microsoft Sans Serif";
    font-size: smaller;
    margin: 1px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.posts {
    display: block;
    margin-top: 10px;
}