.header {
    grid-area: h;
    background-color: #2e3e49;
    background-size: cover;
}

.header img {
    width: 80px;
    margin-left: 50px;
    border-radius: 5px;
}

.loginBlock {
    float: right;
    color: white;
}
.loginBlock a {
    color: white;
}
.loginBlock img {
    width: 50px;
}