.nav {
    grid-area: n;
    text-align: center;
    font-size: large;
    background-color: #abadae;
    background-size: cover;
    padding-bottom: 300px;
}

.linkContainer {
    background-color: slategray;
    margin: 8px;
    padding: 5px;
    border-radius: 50px;
}

.nav a.active {
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}

.nav a {
    font-weight: bold;
    color: #2e3e49;
    text-decoration: none;
}

.settings {
    margin-top: 50px;
    margin-bottom: 30px;
}